{% extends 'base.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block container %}
    <div class="container">
        <div class="box">
            <article>
                <div class="block">
                    <h1 class="title">Bienvenue</h1>

                    <p>Vous êtes sur la page d'accueil</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, aliquam beatae deleniti eligendi error est facilis minus nobis odio porro praesentium quaerat quia quibusdam quidem vitae! Assumenda labore libero quae.</p>
                </div>
            </article>
        </div>
    </div>
{% endblock %}

