{% extends 'base.html.twig' %}

{% block title %}
Accueil
{% endblock %}

{% block container %}
    <div>
        <h1 class="title is-1">Bienvenue</h1>
    </div>

    <div>
        <p>Vous êtes sur la page d'accueil</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, aliquam beatae deleniti eligendi error est facilis minus nobis odio porro praesentium quaerat quia quibusdam quidem vitae! Assumenda labore libero quae.</p>
    </div>
{% endblock %}

