{% extends 'base.html.twig' %}

{% block title %}Detail{% endblock %}

{% block container %}

        <ul>
            <li>{{ $wish.title }}</li>
            <li>{{ $wish.description }}</li>
            <li>{{ $wish.author }}</li>
            <li>{{ $wish.dateCreated|date("d/m/Y") }}</li>
        </ul>


{% endblock %}