{% extends 'base.html.twig' %}

{% block title %}List{% endblock %}

{% block container %}
    <div class="box">
        <h1 class="title">Liste des souhaits</h1>

        {% if currentPage > 1 %}
        <a href="{{ path('wish_list', {currentPage + 1 }) }}">Next page</a>
        {% endif %}
        <a href="{{ path('wish_list', {currentPage - 1 }) }}">Previous page</a>
        {% for wish in wishes %}
            <article>
                <div class="block">
                    <p>{{ wish.title }} <a href="{{ path('wish_detail', {id: wish.id}) }}">Détails</a></p>
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock %}
